<div id="sider">
	<div class="box-top">Neuste likeme's</div>
	<div class="box-bottom matched-bottom">
		{% for userMatch in userMatches %}
			{#<span style="padding-bottom:10px;" class="profileinfo">User 1 <br /> aus F&uuml;dlisbach</span>#}
			<span class="new-likemes">
			{% for picture in userMatch.user.pictures if picture.position == 1 %}
				<img width="50px" height="50px" src="{{ picture.src | thumb }}" org="{{ picture.src }}"/>
			{% endfor %}
				<a href="{{ path('stranger_view', { 'strangerId': userMatch.user.id }) }}">
					{{ userMatch.user.Firstname }}, {{ userMatch.user.birthday | age }} ({{ userMatch.user.location.statecode }})
				</a>
			</span>
			{#<span style="margin-top:10px; border:none;" class="profileinfo">User 3 <br /> aus F&uuml;dlisbach</span>#}
		{% endfor %}
		<a href="{{ path('matched')}}">ALL</a>
		<div class="clear"></div>
	</div>
</div>
