<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets filter='cssrewrite'
			'@LikemeSystemBundle/Resources/public/photoselector/fcbklistselection.css'
			'@LikemeSystemBundle/Resources/public/css/ui-lightness/jquery-ui-1.8.23.custom.css'
			'@LikemeSystemBundle/Resources/public/css/main.css'
			output='web/bundles/likemesystem/compiled/base.css'
			%}
			
			<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
				
			{% endstylesheets %}
			
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
    	<div id="container">
      {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
      
        <h1>{% block head %}{% endblock %}</h1>
        
        {% block navi %}
			{{ knp_menu_render('main') }}
        
			<br /><br />
        {% endblock %}
        
            	
        {% block body %}{% endblock %}
        

        {% block javascripts %}
	    
	    	{% javascripts 
	    	'@LikemeSystemBundle/Resources/public/js/jquery-1.8.0.min.js'
   			'@LikemeSystemBundle/Resources/public/js/jquery-ui-1.8.23.js'
	    	output='web/bundles/likemesystem/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
	    	
		{% endblock %}
    	</div>
    </body>
</html>
