<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets filter='cssrewrite'
			'bundles/likemesystem/css/ui-lightness/jquery-ui-1.8.23.custom.css'
			'bundles/likemesystem/css/main.css'
			%}
			
			<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
				
			{% endstylesheets %}
			
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
	<div id="loading"><div id="loading-floter"></div><div id="loading-inside">Speichern...<div id="loading-bar"></div></div></div>    
    	<div id="container">
      
        <div id="header">
        <h1><a href="{{ path('home') }}">likeme</a></h1>
        {% block head %} {% endblock %}

        <div id="menu-top">

        {% block navi %}
			{{ knp_menu_render('main') }}
	        
	        {% if not is_granted('ROLE_USER') %}
	        	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}    
				{{ facebook_login_button({'autologoutlink': false}) }}
			{% endif %}
				<br /><br />
	    {% endblock %}
        </div>
        
        
        {% if is_granted("IS_AUTHENTICATED_FULLY")%}
	    <span id="hallo">Hallo, {{app.user.firstname}}</span>
	    {%endif%}
	    
        </div>
        <div class="borbo" style="top:54px;"></div>
        <div class="borbo" style="top:52px;"></div>
            	
        {% block body %}{# layout.html.twig #}{% endblock %}
        

        {% block javascripts %}
	    
	    	{% javascripts 
	    	'bundles/likemesystem/js/jquery-1.8.0.min.js'
   			'bundles/likemesystem/js/jquery-ui-1.8.23.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	<script>
			  function goLogIn(){
			      window.location = "{{ path('_security_check') }}";
			  }
			
			  function onFbInit() {
			      if (typeof(FB) != 'undefined' && FB != null ) {
			          FB.Event.subscribe('auth.statusChange', function(response) {
			              if (response.session || response.authResponse) {
			                  setTimeout(goLogIn, 500);
			              } else {
			                  window.location = "{{ path('_security_logout') }}";
			              }
			          });
			      }
			  }
			</script>
	    	
	    	{% endjavascripts %}
	    	
		{% endblock %}
    	</div>
    </body>
</html>
