<div class="fos_user_user_show">
	{% if active == false %}
    	<p>Inaktiv :(</p>
    {% else %}
    	<p>Aktiv, juhu</p>
	{% endif %}

    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <p>{{ 'profile.show.location'|trans({}, 'FOSUserBundle') }}: {{ user.location }}</p>
    <p>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
    <p>{{ 'profile.show.age'|trans({}, 'FOSUserBundle') }}: {{ user.birthday }}</p>
    <p>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}: {{ user.gender }}</p>
    <p>{{ 'profile.show.aboutme'|trans({}, 'FOSUserBundle') }}: {{ user.aboutme }}</p>
    
    <a href={{ path('pictures') }}>Bilder</a>
    
</div>
