{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% block head %}likeme <div style="float:right; margin-top:10px;" id="profilepic"><img height="40px" width="40px" src="http://1.bp.blogspot.com/_9DRIQ9xf9U4/TKZdUmZ2eaI/AAAAAAAABE0/PC_GRAPj0p4/s400/sexy-girls-free-wallpapers002-sexy-girls.jpg" /></div>{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
		'bundles/likemesystem/jcrop/css/jquery.Jcrop.css'
		'bundles/likemesystem/poshytip/tip-darkgray/tip-darkgray.css'
		'bundles/likemesystem/photoselector/fcbklistselection.css'
	%}
			
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
		
	{% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
{# {% include "FOSUserBundle:Profile:show_content.html.twig" %} #}
		<div id="content">
		<form action="{{ path('profile') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{{ form_widget(form._token) }}
			<div id="main">
				<div class="box-top">Profil <div class="save"><a href="">speichern</a></div></div>
				<div class="box-bottom">
					{% set i = 0 %}
					{% for picture in pictures if i == 0 %}
						<div class="likepic"><img width="400px" height="400px" src="{{ picture.thumb }}" org="{{ picture.src }}" /><div class="likeinfo"><p>Sarah, 18 (Blasel)</p></div></div>
						{% set i = 1 %}
					{% endfor %}
					{% for picture in pictures %}
						<div class="likepic-sm" style="margin-bottom:20px;"><img width="120px" height="120px" src="{{ picture.thumb }}" org="{{ picture.src }}"/></div>
					{% endfor %}
					<div class="clear"></div>
					<div id="about">
					<h3 style="font-size:16px; font-weight:500; margin:20px 0 0 0">{{ form_label(form.aboutme) }}</h3>
						<textarea class="about-text"></textarea>
						{{ form_errors(form.aboutme) }}
						{{ form_widget(form.aboutme) }}
					</div>
				</div>
			</div>
			<div id="sider">
				<div class="box-top">Angaben</div>
				<div class="box-bottom">
					<span style="padding-bottom:10px;" class="profileinfo">{{ user.firstname }}</span>
					<span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">{{ user.lastname }}</span>
					<!-- <span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">{{ user.birthday }}</span>  -->
					<span style="margin-top:10px; border:none;" class="profileinfo">{{ user.birthday }}</span>
					<div class="clear"></div>
				</div>
				
				<div class="box-top">{{ form_label(form.location) }} <div class="save"><a href="">speichern</a></div></div>
				<div class="box-bottom">
					{{ form_errors(form.location) }}
					{{ form_widget(form.location) }}
				</div>
		
						
				<div class="box-top">Preferenzen <div class="save"><a href="">speichern</a></div></div>
				<div class="box-bottom">
					{{ form_errors(form.pref_gender) }}
					{{ form_widget(form.pref_gender) }}
					{{ form_errors(form.pref_age_range) }}
					{{ form_widget(form.pref_age_range) }}
				</div>
				
			</div>
		</div>
		{{ form_errors(form)  }}
		<input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
		</form>

	<div class="fos_user_user_show">
		{% if active == false %}
	    	<p>Inaktiv :(</p>
	    {% else %}
	    	<p>Aktiv, juhu</p>
		{% endif %}

		
	    <p>Age: {{ user.birthday | age }}</p>
	    <p>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}: {{ user.gender }}</p>

	    
	    <a href="#" onclick="showUrlInDialog(Routing.generate('pictures'),'Bilder')">Bilder</a>
	        
	</div>
   	
   	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
	
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    	
   	{% javascripts 
   	'bundles/likemesystem/widgets/location.js'
   	'bundles/likemesystem/js/selectlocation.js'
   	'bundles/likemesystem/jcrop/js/jquery.Jcrop.min.js'
   	'bundles/likemesystem/poshytip/jquery.poshytip.min.js'
   	'@LikemeSystemBundle/Resources/public/photoselector/photoselector.js'
   	'bundles/likemesystem/js/extensions.js'
   	output='web/bundles/likemesystem/compiled/profile_show.js'
	%}
	    	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	    	
   	
{% endblock %}
