{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% block head %}Profil{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
		'@LikemeSystemBundle/Resources/public/css/ui-lightness/jquery-ui-1.8.23.custom.css'
		output='web/bundles/likemesystem/compiled/profile_show.css'
	%}
			
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
		
	{% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
{# {% include "FOSUserBundle:Profile:show_content.html.twig" %} #}

	<div class="fos_user_user_show">
		{% if active == false %}
	    	<p>Inaktiv :(</p>
	    {% else %}
	    	<p>Aktiv, juhu</p>
		{% endif %}
	
		
		{% for picture in pictures %}
			<img src="{{ picture.src | imagine_filter('thumbnails') }}"/> 
		{% endfor %}
		
	    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
	    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
	    <p>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
	    <p>{{ 'profile.show.age'|trans({}, 'FOSUserBundle') }}: {{ user.birthday }}</p> 
	    <p>Age: {{ user.birthday | age }}</p>
	    <p>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}: {{ user.gender }}</p>
	    
	 
	    
	    <form action="{{ path('profile') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
	    </div>
		</form>
	    
	    <a href={{ path('pictures') }}>Bilder</a>
	        
	</div>
   	
   	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    	
   	{% javascripts 
   	'@LikemeSystemBundle/Resources/public/widgets/location.js'
   	'@LikemeSystemBundle/Resources/public/js/selectlocation.js'
   	output='web/bundles/likemesystem/compiled/profile_show.js'
	%}
	    	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	    	
{% endblock %}