{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% set user = app.user %}


{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
		'bundles/likemesystem/jcrop/css/jquery.Jcrop.css'
		'bundles/likemesystem/poshytip/tip-twitter/tip-twitter.css'
		'bundles/likemesystem/poshytip/tip-green/tip-green.css'
		'bundles/likemesystem/photoselector/fcbklistselection.css'
		'bundles/likemesystem/css/jquery.selectbox.css'
	%}
			
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
		
	{% endstylesheets %}
{% endblock %}



{% block fos_user_content %}

{# {% include "FOSUserBundle:Profile:show_content.html.twig" %} #}

		<div id="content">
		<form id="profileForm" action="{{ path('profile') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{{ form_widget(form._token) }}
			<div id="main">
				<div class="box-top">{% block title %}Profil{% endblock %} </div>
				<div class="box-bottom">
					{% for picture in user_pictures if picture.position == 1 %}
						<div class="likepic"><img width="400px" height="400px" src="{{ picture.thumb }}" org="{{ picture.src }}" /><div class="likeinfo"><p>{{ user.firstname }}, {{ user.birthday | age }} {% if location != false %}({{ location.statecode }}){% endif %}</p></div></div>
					{% endfor %}
					<div id="sortablepictures">
						{% for picture in user_pictures %}
							<div id="{{ picture.id }}" class="likepic-sm" style="margin-bottom:20px;"><img width="120px" height="120px" src="{{ picture.thumb }}" org="{{ picture.src }}"/><div class="likepic-crop"><a href="#">zuschneiden</a></div></div>
						{% endfor %}
					</div>
					<div class="clear"></div>
					<div class="biglink"> <a href="#" onclick="showUrlInDialog(Routing.generate('pictures'),'Bilder','Lade Profilbilder...')">Bilder von Facebook Auswählen</a></div>
					<div id="about">
					<h3 style="font-size:16px; font-weight:500; margin:20px 0 0 0">{{ form_label(form.aboutme) }}</h3>
						{{ form_errors(form.aboutme) }}
						{{ form_widget(form.aboutme) }}
					</div>
				</div>
			</div>
			<div id="sider">
				<div class="save"><a class="submit" href="#">Speichern</a></div>
				<div class="box-top">Angaben <div class="info" title="Diese Angaben werden von Facebook übernommen und können nur dort geändert werden!"><a href="#"></a></div></div>
				<div class="box-bottom">
					<span style="padding-bottom:10px;" class="profileinfo">{{ user.firstname }}</span>
					<span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">{{ user.lastname }}</span>
					<span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">{{ user.birthday | fb_date }}</span>
					<span style="margin-top:10px; border:none;" class="profileinfo">
					{% if user.active == 0 %}
				    	<p><span style="background-color:rgba(255,0,0,0.3); border-radius:5px; padding:3px 5px;">Inaktiv <span style="font-size:11px;"> (Bitte alles ausfüllen!)</span></p>
				    {% else %}
				    	<p><span style="background-color:rgba(0,255,0,0.3); border-radius:5px; padding:3px 5px;">Aktiv</span></p>
					{% endif %}
					</span>
					<div class="clear"></div>
				</div>
				
				<div class="box-top">{{ form_label(form.location) }}</div>
				<div class="box-bottom">
					{{ form_errors(form.location) }}
					{{ form_widget(form.location) }}
				</div>
		
						
				<div class="box-top">Pr&auml;ferenzen</div>
				<div class="box-bottom">
					{{ form_errors(form.pref_gender) }}
					<label class="drop">{{ form_widget(form.pref_gender) }}</label>
					{{ form_errors(form.pref_age_range) }}
					{{ form_widget(form.pref_age_range) }}
					<div id="slider-range"></div>
				
			</div>
		</div>

		{{ form_errors(form)  }}
		</form>

	<div class="fos_user_user_show">
	        
	</div>
   	
   	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	<style>
	
		#sortablepictures {
		    float: left;
		    height: 400px;
		    margin: 0;
		    padding: 0;
		    width: 120px;
		    position: relative;
		}
		.ui-sortable-placeholder {
		    border: 1px dotted black;
		    height: 120px !important;
		    visibility: visible !important;
		    margin-bottom: 20px;
		}
		.ui-sortable-placeholder * {
		    visibility: hidden;
		}
	</style>
	
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    	
   	{% javascripts 
   	'bundles/likemesystem/widgets/location.js'
   	'bundles/likemesystem/js/selectlocation.js'
   	'bundles/likemesystem/jcrop/js/jquery.Jcrop.min.js'
   	'bundles/likemesystem/poshytip/jquery.poshytip.min.js'
   	'bundles/likemesystem/js/jquery.selectbox-0.2.min.js'
   	'@LikemeSystemBundle/Resources/public/photoselector/photoselector.js'
   	'bundles/likemesystem/js/extensions.js'
   	output='web/bundles/likemesystem/compiled/profile_show.js'
	%}
	    	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	
	<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translation.js') }}"></script>
	<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
	
	
	{% endjavascripts %}

	{{ JSFV(form) }}
	
<script type="text/javascript">
    $(document).ready(function(){
    
    $(".likepic-sm").hover(
	  function () {
	    $(this).find(".likepic-crop").css({"visibility":"visible"});
	  },
	  function () {
	     $(this).find(".likepic-crop").css({"visibility":"hidden"});
	  }
	);
	
	$('.info').poshytip({
		className: 'tip-green',
		showTimeout: 1,
		alignTo: 'target',
		alignX: 'center',
		allowTipHover: false,
		fade: false,
		slide: false
	});
    
     $('a.submit').click(function(){
       $("#loading").css({"visibility":"visible"});
       var dataString = $('#profileForm').serialize();
       var postUrl = $('#profileForm').attr('action');
        console.log(dataString);

        $.ajax({
         type: "POST",
         url: postUrl,
         data: dataString,
         success: function(response) {
          $("#loading").css({"visibility":"hidden"});
           console.log(response);
          //Gets the error and write into the .err div....
           $("#loading").css({"visibility":"hidden"});
           //alert(response);
         }
       });
       return false; 
      });

		$( "#sortablepictures" ).sortable({
			axis: 'y',
			update : function () {
			    var newOrdering = $('#sortablepictures').sortable('toArray');
			    $.ajax({
			         type: "POST",
			         url: Routing.generate('order_pictures'),
			         data: {picorder: newOrdering},
			         success: function(response) {
			           console.log(response);
			     	}	
			  
			  	});
			}
		});


   });
</script>


	<script>
	$(function() {
		var self = $("#likeme_user_profile_pref_age_range"),
		select = self.hide();
		var input = this.input = $( "<input>" )
		.attr("id", "show_location")
               .insertAfter( select )
               .val( self.val().replace("-", " - ") + " Jahre" );

		var n=self.val().split("-");
		
		$( "#slider-range" ).slider({
			range: true,
			min: 1,
			max: 100,
			values: [ n[0], n[1] ],
			slide: function( event, ui ) {
				$( "#likeme_user_profile_pref_age_range" ).val( ui.values[ 0 ] + "-" + ui.values[ 1 ] );
				input.val( ui.values[ 0 ] + " - " + ui.values[ 1 ] + " Jahre" );
			}
		});
		//$( "#likeme_user_profile_pref_age_range" ).val( $( "#slider-range" ).slider( "values", 0 ) +
		//	" - " + $( "#slider-range" ).slider( "values", 1 ) + " Jahre" );
		
	});
	</script>
	
{% endblock %}
