{% block body %}
	
	<form id="fb-pictures" action="{{ path('save_profile_pictures') }}" method="POST">
	
		<ul id="fcbklist" style="border-radius:5px;">
			{# Photos in use #}
			{% for photo in savedpictures %}
			 	<li class="selected">    
			 		<span style="font-weight:500; margin-top:8px;">Aktuelles Profilbild</span>
			        <div id="listimgdiv" style="height: 140px; display:table-cell; vertical-align:middle; text-align:center; width: 120px;">
                        <img src="{{ photo.src }}" style = "max-width: 110px; max-height: 120px; border-radius:5px;" align="middle" />
                    </div>
			        <input type="hidden" name="fcbklist_value[]" value="{{ photo.src }}" />       
			    </li>
			{% endfor %} 
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			{# Photos on Facebook #}
			{% for photo in photos %}
			 	<li>        
			 		Aus Facebook
			        <div id="listimgdiv" style="height: 140px; display:table-cell; vertical-align:middle; text-align:center; width: 120px;"><img src="{{ photo.images.7.source }}" style = "max-width: 110px; max-height: 120px;" align="middle" /></div>
			        <input type="hidden" name="fcbklist_value[]" value="{{ photo.images.1.source }}" />       
			    </li>
			{% endfor %}   
		</ul>
	<input type="hidden" name="fcbk_id" value="{{ id }}" />       	
	<div id="submitpic" style="margin-right:10px; margin-top:10px;" class="btb"><a href="#">Speichern</a></div>
	
	</form>
	

	 {% block javascripts %}
	 	
	    	{% javascripts 
	    	'@LikemeSystemBundle/Resources/public/js/selectphotos.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
	    	
	{% endblock %}


<script type="text/javascript">
 	$(document).ready(function(){

    $("#submitpic").click(function(){
       $("#loading").css({"visibility":"visible"});
       document.forms['fb-pictures'].submit();
      });

   });
</script>
	
{% endblock body %}
