{% extends 'LikemeSystemBundle::layout.html.twig' %}


{% block head %}Pictures{% endblock %}

{% block fos_user_content %}

	<h1>{{ name }}'s Bilder</h1>
	
	<form action="{{ path('save_profile_pictures') }}" method="POST">
	
		<ul id="fcbklist">
			{# Photos in use #}
			{% for photo in savedpictures %}
			 	<li class="selected">    
			 		<strong>Aktuelles Profilbild</strong>    
			        <span class="fcbkitem_text"><img src="{{ photo.src }}" height="120px" align="middle" /><br></span>
			        <input type="hidden" name="fcbklist_value[]" value="{{ photo.src }}" />       
			    </li>
			{% endfor %} 
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			{# Photos on Facebook #}
			{% for photo in photos %}
			 	<li>        
			 		<strong>Aus Facebook</strong> 
			        <span class="fcbkitem_text"><img src="{{ photo.images.7.source }}" align="middle" /><br></span>
			        <input type="hidden" name="fcbklist_value[]" value="{{ photo.images.1.source }}" />       
			    </li>
			{% endfor %}   
		</ul>
	<input type="hidden" name="fcbk_id" value="{{ id }}" />       	
	<input type="submit" value="Submit" />
	
	</form>
	

	 {% block javascripts %}
	    
	    	{% javascripts 
	    	'@LikemeSystemBundle/Resources/public/js/jquery-1.8.0.js'
	    	'@LikemeSystemBundle/Resources/public/js/selectphotos.js'
	    	'@LikemeSystemBundle/Resources/public/js/jquery-ui-1.8.23.js'
	    	'@LikemeSystemBundle/Resources/public/photoselector/photoselector.js'
	    	output='web/bundles/likemesystem/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
	    	
	{% endblock %}
	

			
	{# <img src="{{ '/bundles/likemesystem/images/IMG_0614.JPG' | imagine_filter('my_thumb') }}" alt="Example"/> #}

{% endblock fos_user_content %}
