{% extends 'LikemeSystemBundle::layout.html.twig' %}


{% block head %}Pictures{% endblock %}

{% block fos_user_content %}

	<h1>{{ name }}'s Bilder</h1>
	
	<form action="{{ path('save_profile_pictures') }}" method="POST">
	
		<ul id="fcbklist">
			{% for photo in photos %}
			 	<li>        
			        <span class="fcbkitem_text"><img src="{{ photo.images.7.source }}" align="middle" /><br></span>
			        <input type="hidden" name="fcbklist_value[]" value="{{ photo.images.1.source }}" />       
			    </li>
			{% endfor %}   
		</ul>
		
	<input type="submit" value="Submit" />
	
	</form>
	
	 {% block javascripts %}
	    
	    	{% javascripts 
	    	'@LikemeSystemBundle/Resources/public/js/jquery-1.8.0.js'
	    	'@LikemeSystemBundle/Resources/public/fcbklistselection/fcbklistselection.js'
	    	output='web/bundles/likemesystem/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
	    	
	{% endblock %}
	
	<script type="text/javascript" language="JavaScript">
	    $(document).ready(function() {
	      //id(ul id),width,height(element height),row(elements in row)        
	      $.fcbkListSelection("#fcbklist","540","150","4");
	    });    
	</script>
			
	{# <img src="{{ '/bundles/likemesystem/images/IMG_0614.JPG' | imagine_filter('my_thumb') }}" alt="Example"/> #}

{% endblock fos_user_content %}
