{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% set user = app.user %}

{%block fos_user_content%}

		<div id="content">
			<div id="main">
				<div class="box-top">{% block title %}Home{% endblock %}</div>
				<div class="box-bottom">
				<form id="profileForm" action="{{ path('user_home') }}" {{ form_enctype(likeForm) }} method="POST">
					{{ form_widget(likeForm._token) }}
					{{ form_widget(likeForm) }}
					<input type="submit" value="Likeme" />
				</form>
				<form id="profileForm" action="{{ path('user_home') }}" {{ form_enctype(nextForm) }} method="POST">
					{{ form_widget(nextForm._token) }}
					{{ form_widget(nextForm) }}
					<input type="submit" value="Next" />
				</form>
				{% if not stranger_pictures is empty %}
					{% for picture in stranger_pictures if picture.position == 1 %}
						<div class="likepic">
							<img width="400px" height="400px" src="{{ picture.thumb }}" org="{{ picture.src }}" />
							<div class="likeinfo">
								<p>{{ stranger.firstname }}, {{ stranger.birthday | age }} {% if stranger.location != false %} ({{ stranger.location.statecode }}){% endif %}</p>
							</div>
						</div>
					{% endfor %}
				{% else %}
						<div id="no-pic" class="likepic">Kein Bild</div>
				{% endif %}
					<div id="sortablepictures">
					{% if not stranger_pictures is empty %}
						{% for picture in stranger_pictures %}
							<div id="{{ picture.id }}" class="likepic-sm" style="margin-bottom:20px;"><img width="120px" height="120px" src="{{ picture.thumb }}" org="{{ picture.src }}"/></div>
						{% endfor %}
					{% endif %}			
					</div>
					<div class="clear"></div>
					<div id="about">
					<h3 style="font-size:16px; font-weight:500; margin:20px 0 0 0">Aboutme</h3>
						{{ stranger.aboutme }}
					</div>
				</div>
			</div>
			<div id="sider">
				<div class="box-top">Angaben</div>
				<div class="box-bottom">
					<span style="padding-bottom:10px;" class="profileinfo">{{ stranger.firstname }}</span>
					<span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">{{ stranger.Lastname }}</span>
					<span style="margin-top:10px; border:none;" class="profileinfo">{{ stranger.birthday | fb_date }}</span>
					<div class="clear"></div>
				</div>
				
				<div class="box-top">Neuste likeme's</div>
				<div class="box-bottom">
					{% for userMatch in userMatches %}
						{#<span style="padding-bottom:10px;" class="profileinfo">User 1 <br /> aus F&uuml;dlisbach</span>#}
						<span style="padding-bottom:10px; margin-top:10px;" class="profileinfo">
						{% for picture in userMatch.user.pictures if picture.position == 1 %}
							<div id="{{ picture.id }}" class="likepic-sm" style="margin-bottom:20px;"><img width="120px" height="120px" src="{{ picture.src }}" org="{{ picture.src }}"/></div>
						{% endfor %}
							{{ userMatch.user.Firstname }}, {{ userMatch.user.birthday | age }} ({{ userMatch.user.location.statecode }})
						</span>
						{#<span style="margin-top:10px; border:none;" class="profileinfo">User 3 <br /> aus F&uuml;dlisbach</span>#}
					{% endfor %}
					<div class="clear"></div>
				</div>

		</div>
   	
   	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock fos_user_content %}


