{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% set user = app.user %}

{%block fos_user_content%}

			<div id="main">
				<div class="box-top">{% block title %}Home{% endblock %}</div>
				<div class="box-bottom">
					<form action="{{ path('user_home') }}" {{ form_enctype(likeForm) }} method="POST">
						{{ form_widget(likeForm._token) }}
						{{ form_widget(likeForm) }}
						<div class="btb-container"><input id="likeme-btb" type="submit" value="Likeme" /></div>
					</form>
					<form action="{{ path('user_home') }}" {{ form_enctype(nextForm) }} method="POST">
						{{ form_widget(nextForm._token) }}
						{{ form_widget(nextForm) }}
						<div class="btb-container" style="margin-left:20px;"><input id="next-btb" type="submit" value="Next" /></div>
					</form>
					{% if not stranger.pictures is empty %}
						{% for picture in stranger.pictures if picture.position == 1 %}
							<div class="likepic">
								<img width="400px" height="400px" src="{{ picture.src | thumb }}" org="{{ picture.src }}" />
								<div class="likeinfo">
									<p>{{ stranger.firstname }}, {{ stranger.birthday | age }} {% if stranger.location != false %} ({{ stranger.location.statecode }}){% endif %}</p>
								</div>
							</div>
						{% endfor %}
					{% else %}
							<div id="no-pic" class="likepic">Kein Bild<br />{{ stranger.firstname }}, {{ stranger.lastname }}</div>
					{% endif %}
						<div id="sortablepictures">
						{% if not stranger.pictures is empty %}
							{% for picture in stranger.pictures %}
								<div id="{{ picture.id }}" class="likepic-sm-no" style="margin-bottom:20px;"><img width="120px" height="120px" src="{{ picture.src | thumb }}" org="{{ picture.src }}"/></div>
							{% endfor %}
						{% endif %}			
						</div>
						<div class="clear"></div>
						<div id="about-likeme">
						<h3>Aboutme</h3>
							<p>{{ stranger.aboutme }}</p>
						</div>
				</div>
			</div>
			

		{% block javascripts %}

	 {{ parent() }}
	 
	<script type="text/javascript">
		$('.likepic-sm-no').click(function(){
				$('.likepic').find('img').attr('src', $(this).find('img').attr('src'));
			});	
	</script>
	{% endblock %}
	
{% endblock fos_user_content %}

{%block sider %}
	{% include 'LikemeSystemBundle:Sider:sider.html.twig' %}
{%endblock sider %}


