{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% block navi %}

    {% if not is_granted('ROLE_USER') %}
        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
        <div id="facebook-login-btb"><a href="#" onclick="FB.login();"><span style="font-weight:400;">login mit </span>facebook</a></div>
    {% endif %}
    {{ facebook_login_button({'autologoutlink': true, 'size':'large' }) }}

    {{ parent() }}

{% endblock %}


{%block fos_user_content%}


				<div class="box-bottom welcome" style="width:860px;">
					<h2>Wilkommen auf likeme.ch!</h2>
					<p>Was bietet likeme:</p>
					<ul>
						<li>Lerne <strong>einfach</strong> und rasch neue Personen kennen</li>
						<li>Chatte mit interessanten Leuten</li>
						<li>Alles <strong>kostenlos</strong>, für immer!</li>
					</ul>
					<p>Melde dich jetzt an!</p>
					<div class="welcome-login">
						<a href="#" onClick="FB.login();">{% image '@LikemeSystemBundle/Resources/public/images/fb.png' %} <img src="{{ asset_url }}" alt="Facebook Login"/> {% endimage %}</a>
					</div>
				</div>
				
				<div style="margin:100px auto; text-align:center;"><h3 style="font-size:24px; font-weight:400;">wie funktioniert likeme... ?</h3><br><br>.</div>
	
	{% image '@LikemeSystemBundle/Resources/public/images/welcome-register.png' %} <img src="{{ asset_url }}" alt="Registrieren und Profil ausfüllen"/> {% endimage %}
	
	<br><br>
	
	{% image '@LikemeSystemBundle/Resources/public/images/welcome-likeme.png' %} <img src="{{ asset_url }}" alt="klick auf likeme"/> {% endimage %}

	<br><br><br><br>

	{% image '@LikemeSystemBundle/Resources/public/images/welcome-next.png' %} <img src="{{ asset_url }}" alt="klick auf next"/> {% endimage %}

{% endblock fos_user_content %}

{% block javascripts %}

    <script>
        function goLogIn(){
            window.location = "{{ path('_security_check') }}";
        }

        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) {
                        setTimeout(goLogIn, 500);
                    } else {
                        window.location = "{{ path('_security_logout') }}";
                    }
                });
            }
        }
        FB.login(function(response) {
            if (response.authResponse) {
                FB.api('/me', function(response) {
                    FB.logout(function(response) {
                    });
                });
            }
        }, {scope: 'email,user_birthday,user_location,user_photos,user_about_me,user_location'});
    </script>


    {{ parent() }}

{% endblock %}